<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ET_Shippingtime::title" title="Shipping Time Estimation" module="ET_Shippingtime" parent="ET_Theme::etrend" sortOrder="50" resource="ET_Shippingtime::title"/>
        <add id="ET_Shippingtime::config" title="Configuration" module="ET_Shippingtime" parent="ET_Shippingtime::title" sortOrder="30" action="adminhtml/system_config/edit/section/shippingtimesection" resource="ET_Shippingtime::config"/>
    </menu>
</config>