<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shippingtimesection" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shipping Estimation</label>
            <tab>etextensions</tab>
            <resource>Magento_Config::config_admin</resource>
            <group id="generalgroup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_general_time" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable General Shipping Time</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If yes, It allows you to set general shipping time for products.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="general_time" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>General Shipping Estimation Time</label>
                    <comment><![CDATA[ex. 3 &nbsp;OR&nbsp; 3-4. This time will display in products in which you have not set shipping time.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="enable_general_time">1</field>
                    </depends>
                </field>
                <field id="days_message" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Days Message</label>
                    <comment><![CDATA[Here "%1" will replace by your given delivery days.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="display_delivery_date" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Delivery Date</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="working_days" translate="label comment" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Working Days</label>
                    <source_model>ET\Shippingtime\Model\Config\Settings\Workingdays</source_model>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="display_delivery_date">1</field>
                    </depends>
                </field>
                <field id="date_message" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Date Message</label>
                    <comment><![CDATA[Here "%1" will replace by approx delivery date.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="display_delivery_date">1</field>
                    </depends>
                </field>
                <field id="date_format" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Date Format</label>
                    <comment><![CDATA[ex. Y-m-d &nbsp;OR&nbsp; jS F, Y<br/> For more info: https://www.w3schools.com/php/func_date_date_format.asp]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="display_delivery_date">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>