<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <sizechartsection>
            <generalgroup>
                <enabled>0</enabled>
                <title><![CDATA[Size Chart]]></title>
                <display_mode>1</display_mode>
                <btn_text><![CDATA[Size Chart]]></btn_text>
                <width>700px</width>
                <height>350px</height>
                <display_tab>1</display_tab>
            </generalgroup>
        </sizechartsection>
    </default>
</config>