<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="ET\Bannerslider\Api\Data\BannerInterface" type="ET\Bannerslider\Model\Banner" />
    <preference for="ET\Bannerslider\Api\BannerRepositoryInterface" type="ET\Bannerslider\Model\BannerRepository" />
    
    <virtualType name="ETBannersliderBannerFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ETBannersliderBannerFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">ET\Bannerslider\Model\ResourceModel\Banner\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ETBannersliderBannerFilterPool</argument>
        </arguments>
    </virtualType>
    <type name="ET\Bannerslider\Model\ResourceModel\Banner\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">et_bannerslider</argument>
            <argument name="eventPrefix" xsi:type="string">et_bannerslider_banner_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">banner_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">ET\Bannerslider\Model\ResourceModel\Banner</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="et_bannerslider_banner_listing_data_source" xsi:type="string">ET\Bannerslider\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="ET\Bannerslider\Api\Data\BannerInterface" xsi:type="string">ET\Bannerslider\Api\BannerRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="ET\Bannerslider\Api\Data\BannerInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">et_bannerslider</item>
                    <item name="identifierField" xsi:type="string">id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="ET\Bannerslider\Api\Data\BannerInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">ET\Bannerslider\Model\ResourceModel\Banner\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">ET\Bannerslider\Model\ResourceModel\Banner\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">ET\Bannerslider\Model\ResourceModel\Banner\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ET\Bannerslider\ReferenceImageUpload" type="ET\Bannerslider\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">bannerslider/tmp/image</argument>
            <argument name="basePath" xsi:type="string">bannerslider/image</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument> 
        </arguments>
    </virtualType>
 
    <type name="ET\Bannerslider\Controller\Adminhtml\Index\Uploader">
        <arguments>
            <argument name="imageUploader" xsi:type="object">ET\Bannerslider\ReferenceImageUpload</argument>
        </arguments>
    </type>
</config>