<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ET_Whatsappchat::title" title="WhatsApp Chat" module="ET_Whatsappchat" parent="ET_Theme::etrend" sortOrder="50" resource="ET_Whatsappchat::title"/>
        <add id="ET_Whatsappchat::config" title="Configuration" module="ET_Whatsappchat" parent="ET_Whatsappchat::title" sortOrder="30" action="adminhtml/system_config/edit/section/whatsappchatsection" resource="ET_Whatsappchat::config"/>
    </menu>
</config>